.content-list{
    list-style-type: none;
    li{
        text-align: center;
        height:15px;
        padding:15px;
        border:1px solid #ccc;
        margin:{
            top:1em;
        }
    }
    .income{
        color: #00b23b;
    }
    .debts{
        color:#a91200; 
    }
}